@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<h1>User Login</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Login</button>
</form>
